/*************************
BASE
*************************/
@font-face {
    font-family: headingFont;
    src: url(Prata-Regular.ttf);

}

body {
    background-color: rgb(253, 249, 255); 
    margin: 0;

}

p, ul, span {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;   
    color: white;
    line-height: 1.7em;
}

h1, h2, h3, h4 {
    font-family: headingFont;
    color: white;
}

h1 {
    margin: 5px;
}

h2 {
    color:rgb(9, 4, 17);
    margin: 20px 12%;
    font-size: 3em;
}

h3 {
    text-align: center;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    background-color: rgba(9, 4, 17, 0.61);
    padding: 20px;
    margin: 0 auto;
}

header {
    background-color: rgb(9, 4, 17);
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 0 10px;
    margin: 2px;
}
/*************************
LAYOUT
*************************/
.container {
    max-width: 1000px;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}


/*************************
MODULES
*************************/
.card {
    background-size: cover;
    background-position: center;
    width: 450px;
    margin: 10px 2%;

}

.card:first-of-type {
    background-image: url(../images/rw.jpg)

}

.card:nth-of-type(2) {
    background-image: url(../images/navy_pier.jpg);
}

.card:nth-of-type(3) {
    background-image: url(../images/salt-river.jpg);
}
/*************************
STATES
*************************/