/*************************
BASE
*************************/
@font-face {
    font-family: headingFont;
    src: url(Prata-Regular.ttf);

}

body {
    background-color: rgb(47, 42, 54);

}

p, ul {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;   
    color: white;
    line-height: 1.7em;
}

h1, h2, h3, h4 {
    font-family: headingFont;
    color: white;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
/*************************
LAYOUT
*************************/


/*************************
MODULES
*************************/



/*************************
STATES
*************************/